monitor-webgl-axis {
  font-size: var(--font-size-0);
}

monitor-webgl-axis .axis {
  font-family: var(--primary-font-family);
  shape-rendering: crispEdges;
  position: absolute;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
}

monitor-webgl-axis .axis path {
  display: none;
}

monitor-webgl-axis .axis .tick {
  color: var(--polaris-light-gray);
}

monitor-webgl-axis line.x-axis-separator {
  color: var(--primary-light);
  stroke: var(--primary-light);
  stroke-width: 1px;
}

monitor-webgl-axis .axis .tick line {
  color: var(--primary-light);
}

monitor-webgl-axis .axis .tick text {
  font-size: var(--font-size-0);
  user-select: none;
}

monitor-webgl-axis .x-axis .tick:last-child text {
  font-weight: var(--font-weight-bold);
}
