monitor-gesture-handler svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

monitor-gesture-handler line {
  stroke: var(--selection-color);
  opacity: 0.3;
  stroke-width: 1.5px;
}

monitor-gesture-handler .overlay {
  fill: none;
  pointer-events: all;
  cursor: crosshair;
}

monitor-gesture-handler .brush-box {
  fill: var(--selection-color);
  opacity: 0.2;
}
