iot-app-kit-vis-status-timeline .status-timeline {
  position: relative;
}

iot-app-kit-vis-threahold-legend {
  overflow-y: scroll;
  overflow-x: hidden;

  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;

  /* Hide scrollbar for FF */
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
iot-app-kit-vis-threshold-legend::-webkit-scrollbar {
  display: none;
}
