iot-app-kit-vis-legend .legend-container {
  display: flex;
  flex-wrap: wrap;
  font-size: var(--font-size-1);
  overflow-y: scroll;
  overflow-x: hidden;

  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;

  /* Hide scrollbar for FF */
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
iot-app-kit-vis-legend .legend-container::-webkit-scrollbar {
  display: none;
}
