h2 {
  margin: 0;
  padding: 10px 0 0;
}

.control-container {
  display: flex;
}

.configuration-table {
  overflow-y: auto;
  margin: 5px 0;
}

.configuration-table th {
  text-align: left;
  padding-bottom: 3px;
}

.configurations {
  display: flex;
}

.configurations > div {
  padding-right: 2em;
}

.threshold-list-item-container,
.trend-line-list-item-container {
  padding: 3px 0;
}

.threshold-list-item-container td:not(:last-child) {
  padding-left: 10px;
}

.color-block {
  height: 12px;
  width: 12px;
}

.options {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.options .option {
  display: flex;
  align-items: center;
  margin-top: 3px;
}

.options .option input {
  margin-right: 2px;
}
