monitor-expandable-input .monitor-expandable-input {
  display: inline-block;
  background: none;
  color: inherit;
  word-break: break-word;
  margin-top: 3px;
  min-width: 20px;
  text-overflow: ellipsis;
  border: none;
  border-bottom: var(--border-width) solid var(--polaris-gray-400);
}

monitor-expandable-input .monitor-expandable-input.disabled {
  outline: none;
  border-bottom-color: rgba(0, 0, 0, 0);
}
