:root {
  /* must match STATUS_MARGIN_TOP_PX */
  --timeline-row-margin-top: 34px;
}

iot-app-kit-vis-status-timeline-overlay-row {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

iot-app-kit-vis-status-timeline-overlay-row sc-data-stream-name {
  max-height: var(--timeline-row-margin-top);
  overflow: hidden;
}

iot-app-kit-vis-status-timeline-overlay-row .value {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  /* Keeps the baseline of the text in line with the `data-stream-name` component */
  padding-bottom: 2px;
}

iot-app-kit-vis-status-timeline-overlay-row .unit {
  padding-left: 2px;
}

iot-app-kit-vis-status-timeline-overlay-row .stream-info {
  text-overflow: ellipsis;
  overflow: hidden;
  height: var(--timeline-row-margin-top);
  display: flex;
  font-size: 14px;
  padding: 0.1em;
  align-items: flex-end;
}

iot-app-kit-vis-status-timeline-overlay-row .no-data-visualization {
  flex-grow: 1;

  /* striped gray background representing no-data to visualize */
  background: repeating-linear-gradient(45deg, #efefef, #efefef 10px, #acacac 10px, #acacac 20px);
}
