sc-heatmap-legend .legend-container {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
  color: #989898;

  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;

  /* Hide scrollbar for FF */
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
sc-heatmap-legend .legend-container::-webkit-scrollbar {
  display: none;
}

sc-heatmap-legend {
  --color-container-width: 240px;

  /* prevents the stream info from hijacking scroll when element is focused */
  overflow: hidden;
  display: inline-block;
  margin-right: var(--margin-small);
  color: var(--secondary-font-color);
  padding-right: var(--margin-small);
}

sc-heatmap-legend .label {
  width: 200px;
  font-size: 14px;
}

sc-heatmap-legend .color-bar-container {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  width: var(--color-container-width);
  margin-top: 40px;
}

sc-heatmap-legend .spinner-container {
  position: relative;
  top: 5px;
}

sc-heatmap-legend .bar {
  position: relative;
  height: 20px;
  width: var(--color-container-width);
}

sc-heatmap-legend .heat-values-empty-data {
  position: absolute;
  margin-top: 30px;
  font-size: 10px;
}

sc-heatmap-legend .heat-values {
  position: absolute;
  font-size: 10px;
}

sc-heatmap-legend .heat-values .min-heat-values {
  margin-top: 50px;
}

sc-heatmap-legend .heat-values .max-heat-values {
  position: inherit;
  margin-top: -20px;
  margin-left: 230px;
}
