iot-app-kit-vis-webgl-base-chart .iot-app-kit-vis-webgl-base-chart {
  height: 0;
}

iot-app-kit-vis-webgl-base-chart .empty-status {
  z-index: 11;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
  color: var(--light-text);
  font-size: var(--font-size-1);
}

iot-app-kit-vis-webgl-base-chart .empty-status h3 {
  font-size: var(--font-size-3);
  line-height: var(--line-height-3);
  padding-bottom: var(--font-size-2);
  font-weight: normal;
}

iot-app-kit-vis-webgl-base-chart .data-container {
  position: absolute;
}

/**
 * Chart Brush
 */

iot-app-kit-vis-webgl-base-chart .selection {
  fill: rgba(41, 168, 221, var(--selection-opacity));
  stroke-width: var(--selection-width);
  stroke: var(--selection-color);
  stroke-opacity: var(--selection-opacity);
  z-index: 11;
}

iot-app-kit-vis-webgl-base-chart .chart-legend-container {
  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;

  /* Hide scrollbar for FF */
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
iot-app-kit-vis-webgl-base-chart .chart-legend-container::-webkit-scrollbar {
  display: none;
}

iot-app-kit-vis-webgl-base-chart .threshold-container {
  z-index: 5;
  position: absolute;
  pointer-events: none;
  font-size: 12px;
}

iot-app-kit-vis-webgl-base-chart .trend-container {
  z-index: 4;
  position: absolute;
  pointer-events: none;
}
