iot-app-kit-vis-tooltip-row {
  font-size: var(--font-size-1);

  --bar-size: 18px;
}

iot-app-kit-vis-tooltip-rows .left-offset {
  padding-left: 4px;
}

/* modern clearfix hack */
iot-app-kit-vis-tooltip-row .clearfix::after {
  content: '';
  clear: both;
  display: table;
}

iot-app-kit-vis-tooltip-row .bar {
  display: inline-block;
  float: left;
  width: var(--bar-size);
  height: 20px;
  padding-top: 8px;
}

iot-app-kit-vis-tooltip-row .label {
  padding-left: var(--margin-small);
  color: var(--light-text);
  float: left;
}

iot-app-kit-vis-tooltip-row .value {
  font-weight: bold;
  float: right;
  margin-left: 15px;
}
