sc-dial-base .error {
  text-align: center;
  font-size: var(--font-size-1);
  line-height: var(--line-height-3);
}

sc-dial-base .error .warning-symbol {
  transform: scale(0.7);
}

sc-dial-base circle {
  -webkit-transition: stroke-dasharray 800ms;
  transition: stroke-dasharray 800ms;
}


