sc-dial-base .sc-dialbase-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

sc-dial-base circle {
  -webkit-transition: stroke-dasharray 800ms;
  transition: stroke-dasharray 800ms;
}


