sc-status-chart .status-timeline {
  position: relative;
}

sc-threahold-legend {
  overflow-y: scroll;
  overflow-x: hidden;

  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;

  /* Hide scrollbar for FF */
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
sc-threshold-legend::-webkit-scrollbar {
  display: none;
}
