iot-app-kit-vis-legend-row {
  --color-container-width: 18px;

  /* prevents the stream info from hijacking scroll when element is focused */
  overflow: hidden;
  display: inline-block;
  margin-right: var(--margin-small);
  color: var(--secondary-font-color);
  padding-right: var(--margin-small);
}

iot-app-kit-vis-legend-row .legend-row-container {
  display: flex;
  margin-left: 8px;
}

iot-app-kit-vis-legend-row .legend-value {
  position: relative;
  display: flex;
  align-items: center;
}

iot-app-kit-vis-legend-row .color-container {
  display: flex;
  flex-direction: column-reverse;
  width: var(--color-container-width);
  height: 20px;
  padding-top: 11px;
}

iot-app-kit-vis-data-stream-info .spinner-container {
  position: relative;
  top: 5px;
}

iot-app-kit-vis-legend-row .bar {
  width: var(--color-container-width);
}

iot-app-kit-vis-legend-row .info {
  padding-left: var(--margin-small);
  display: flex;
  flex-direction: column;
}

iot-app-kit-vis-legend-row .info h4 {
  line-height: 0.2em;
  font-size: 14px;
}

iot-app-kit-vis-legend-row .sc-expandable-input {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
