sc-kpi .align {
  display: flex;
  align-content: center;
  justify-content: center;
}

sc-kpi .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  position: relative;

  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;

  /* Hide scrollbar for FF */
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
sc-kpi .container::-webkit-scrollbar {
  display: none;
}

sc-kpi sc-chart-icon .sc-chart-icon {
  top: -3px;
}

sc-kpi .large sc-chart-icon {
  position: relative;
}

sc-kpi .help-icon-container {
  z-index: 100;
  position: absolute;
  right: 0;
  top: 0;
}
